packages/
*.suo
bin/
obj/
*.ncrunchproject
*.ncrunchsolution
Score.ContentSearch.Algolia.Tests/license.xml
*.cache
*.user
/sitecore-version.props
sandbox/
*.nupkg
Libs/81/
Libs/82/
*/packages.config
/references-qualified.proj
Score.ContentSearch.Algolia.Tests/App.config
.vscode/
