<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="algolia_test" type="Score.ContentSearch.Algolia.AlgoliaSearchIndex, Score.ContentSearch.Algolia">
            <param desc="name">$(id)</param>
            <param desc="applicationId">4U4JZCMJO2</param>
            <param desc="fullApiKey">b9c172c5c52d094286825f8fbe2d2d7d</param>
            <param desc="indexName">algolia-test</param>
            <Site>website</Site>
            <configuration ref="contentSearch/indexConfigurations/testAlgoliaIndexConfiguration" />
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/content/Home</Root>
              </crawler>
            </locations>
            <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)">
            </propertyStore>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>