<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="products_unstopables" type="Score.ContentSearch.Algolia.AlgoliaSearchIndex, Score.ContentSearch.Algolia">
            <param desc="name">$(id)</param>
            <param desc="applicationId">3Q92VD0BCR</param>
            <param desc="fullApiKey">8aabee59159235295313b06259dc232a</param>
            <param desc="indexName">unstopables-dmitry</param>
            <configuration ref="contentSearch/indexConfigurations/defaultAlgoliaIndexConfiguration" />
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/content/Unstopables/North America/United States/home/all-products</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <defaultAlgoliaIndexConfiguration type="Score.ContentSearch.Algolia.AlgoliaIndexConfiguration, Score.ContentSearch.Algolia">
          <DocumentOptions type="Sitecore.ContentSearch.DocumentBuilderOptions, Sitecore.ContentSearch" />
          <MaxFieldLength>8000</MaxFieldLength>
        </defaultAlgoliaIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>



