<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="products_unstopables" type="Score.ContentSearch.Algolia.AlgoliaSearchIndex, Score.ContentSearch.Algolia">
            <param desc="name">$(id)</param>
            <param desc="applicationId">3Q92VD0BCR</param>
            <param desc="fullApiKey">8aabee59159235295313b06259dc232a</param>
            <param desc="indexName">unstopables-dmitry</param>
            <Site>MySite</Site>
            <configuration ref="contentSearch/indexConfigurations/defaultAlgoliaIndexConfiguration" />
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexUpdateStrategies/syncMaster" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/content/Unstopables/North America/United States/home/all-products</Root>
              </crawler>
            </locations>
            <propertyStore ref="contentSearch/databasePropertyStore" param1="$(id)">
            </propertyStore>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <defaultAlgoliaIndexConfiguration type="Score.ContentSearch.Algolia.AlgoliaIndexConfiguration, Score.ContentSearch.Algolia">    
        </defaultAlgoliaIndexConfiguration>
      </indexConfigurations>
      <indexUpdateStrategies>
        <syncMaster type="Sitecore.ContentSearch.Maintenance.Strategies.SynchronousStrategy, Sitecore.ContentSearch">
          <param desc="database">master</param>
        </syncMaster>
      </indexUpdateStrategies>
      <databasePropertyStore type="Sitecore.ContentSearch.Maintenance.IndexDatabasePropertyStore, Sitecore.ContentSearch">
        <Key>$(1)</Key>
        <Database>core</Database>
      </databasePropertyStore>
    </contentSearch>
  </sitecore>
</configuration>